body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex_center_display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_album_img {
  width: 100%; /* Default width for all screen sizes */
}

.play_vid_img {
  position: absolute;
  bottom: 10%;
  right: 5%;
  cursor: pointer;
}
.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.img_vid {
  max-width: 386px;
  max-height: 257px;
}

@media (max-width: 800px) {
  .create_album_img {
    width: 400px;
  }
  .play_vid_img {
    width: 100px;
    right: 25% !important;
  }
  .img_vid {
    max-width: 171px;
    max-height: 113px;
  }
}

@media (max-width: 400px) {
  .create_album_img {
    width: 300px;
  }
}
