body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex_center_display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_album_img {
  width: 100%; /* Default width for all screen sizes */
}

.play_vid_img {
  position: absolute;
  bottom: 10%;
  right: 5%;
  cursor: pointer;
}

@media (max-width: 800px) {
  .create_album_img {
    width: 400px;
  }
    .play_vid_img {
    width: 100px;
    right: 25% !important;
  }
  
}

@media (max-width: 400px) {
  .create_album_img {
    width: 300px;
  }

}
